/*--------------------------------------------------------------
# Ajuste no container do conteudo de toda a pagina
--------------------------------------------------------------*/
main {
    margin-top: 80px;
}

/*--------------------------------------------------------------
# Formulário de contato
--------------------------------------------------------------*/
#containerContato > .row {
    width: 100%;
}

.infoContato {
    font-size: 18px;
}

.tituloContato {
    font-family: "Shadows Into Light", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.form-contact {
    width: 100%;
}

.form-contact-input {
    width: 100%;
    font-size: 18px;
    color: #000000 !important;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
}

.form-contact-textarea {
    width: 100%;
    font-size: 18px;
    color: #000000 !important;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
}

.form-contact-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    opacity: 0.8;
    margin-bottom: 20px;
    transition: 1s;
}

.form-contact-button:hover {
    opacity: 1;
}

/*--------------------------------------------------------------
# Formulário de contato
--------------------------------------------------------------*/
#accordion > .tituloContato {
    text-align: right;
}