<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="stylesheet" href="../css/allProducts.css" type="text/css">
    <!-- Fonts Google -->
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap" rel="stylesheet">
    <!-- AOS CSS da biblioteca para animação de entradas (do tipo fade) -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Imagehover.css biblioteca para adicionar hover diferentes -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/2.0.0/css/imagehover.min.css" rel="stylesheet">
    <!-- Slick CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Ícone da Página -->
    <link rel="icon" type="image/png" href="../css/assets/logo_pur4vid4_icon.png">
    <title>Pur4Vid4 Surfboards</title>
</head>
<body>

    <!-- Cabeçalho com a barra de navegação do Site -->
    <header class="cabecalhoSite">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top navSite">
            <a class="navbar-brand" href="../index.html"><img src="../css/assets/logo_pur4vid4_homepage.jpg" class="logoHomePage" alt="logoHomePage" /></a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarItens">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarItens">
                <ul class="navbar-nav ml-auto mr-auto">
                    <li class="nav-item efeito efeitoMudaBorda">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown efeito efeitoMudaBorda">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link efeito efeitoMudaBorda" href="#" data-toggle="dropdown" role="button">Products</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="allProducts.html">All Products</a>
                            <a class="dropdown-item" href="product1.html">Product 1</a>
                            <a class="dropdown-item" href="#">Product 2</a>
                            <a class="dropdown-item" href="#">Product 3</a>
                            <a class="dropdown-item" href="#">Product 4</a>
                            <a class="dropdown-item" href="#">Product 5</a>
                        </div>
                    </li>
                    <li class="nav-item efeito efeitoMudaBorda">
                        <a class="nav-link" href="../templates/contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- <div class="iconCart mr-lg-auto"><a href="#"><i class="fas fa-shopping-cart"></i></a></div> -->
        </nav>
    </header>
    <!-- Final cabeçalho -->

    <!-- Conteudo principal da pagina -->
    <main>

        <!-- Section with all products of site -->
        <section id="containerAllProducts">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="container productsDisplay">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../css/assets/imgTest2.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="product1.html" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="container productsDisplay">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../css/assets/imgTest2.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="container productsDisplay">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../css/assets/imgTest2.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="container productsDisplay">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../css/assets/imgTest2.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="container productsDisplay">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../css/assets/imgTest2.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="container productsDisplay">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../css/assets/imgTest2.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End section with all products of site -->

        <!-- Secção para dividir as secções -->
        <section>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><a class="btn-creditos" href="https://www.flaticon.com/br/autores/xnimrodx" target="_blank"><img src="../css/assets/surf.png" width="32px" title="Icon made by xnimrodx from www.flaticon.com" /></a></div>
                <div class="divider-custom-line"></div>
            </div>
        </section>
        <!-- Final da secção para dividir as secções -->

    </main>
    <!-- Final conteudo principal da pagina -->

    <!-- Rodapé do Site contém informações da empresa, Redes Sociais e Contatos da Empresa... -->
    <footer class="rodapeSite">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!--<h2 class="logo"><a href="#">LOGO</a></h2>-->
                    <img class="logoFooterpage" src="../css/assets/logo_pur4vid4_footer_reduzido.jpg" alt="logoFooter" />
                </div>
                <div class="col-md-4">
                    <h5>Explore nossa empresa</h5>
                    <ul>
                        <li><a href="#">Sobre nós</a></li>
                        <li><a href="#">Informações legais</a></li>
                        <li><a href="#">Entre em contato</a></li>
                        <li><a href="#">Termos & Condições</a></li>
                        <li><a href="#">Políticas de privacidade</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="redesSociais">
                        <h5 class="text-uppercase">Siga nossas redes sociais:</h5>
                        <a href="#" class="youtube"><i class="fab fa-fw fa-youtube"></i></a>
                        <a href="#" class="facebook"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a href="#" class="instagram"><i class="fab fa-fw fa-instagram"></i></a>
                    </div>
                    <a href="#">
                        <button type="button" class="btn btn-default">Contato</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="rodapecopyright">
            <p>Pur4vid4 Surfboards - © 2020 todos os direitos reservados</p>
        </div>

        <!-- Botão para realizar Scroll-To-Top -->
        <div>
            <a href="#" class="subir"><i class="fas fa-arrow-up"></i></a>
        </div>
    </footer>
    <!-- Final do rodapé do Site -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Icones Grátis da WEB (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
    <!-- AOS script da biblioteca para animação de entradas (do tipo fade) -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Slick JS -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!-- Hammer JS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <!-- script com as princiapais funções do JS do Site -->
    <script src="../js/main.js" type="text/javascript"></script>
    <script src="../js/AOS.js" type="text/javascript"></script>
    <script src="../js/slick.js" type="text/javascript"></script>
    <script src="../js/hammer.js" type="text/javascript"></script>
</body>
</html>