<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="stylesheet" href="../css/contato.css" type="text/css">
    <!-- Fonts Google -->
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap" rel="stylesheet">
    <!-- AOS CSS da biblioteca para animação de entradas (do tipo fade) -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Imagehover.css biblioteca para adicionar hover diferentes -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/2.0.0/css/imagehover.min.css" rel="stylesheet">
    <!-- Slick CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Ícone da Página -->
    <link rel="icon" type="image/png" href="../css/assets/favicon.png">
    <title>Pur4Vid4 Surfboards</title>
</head>
<body>
    <!-- Inicio do Codigo -->

    <!-- Cabeçalho com a barra de navegação do Site -->
    <header class="cabecalhoSite">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top navSite">
            <a class="navbar-brand" href="../index.html">Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItens">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarItens">
                <ul class="navbar-nav ml-auto mr-auto">
                    <li class="nav-item efeito efeitoMudaBorda">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown efeito efeitoMudaBorda">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link efeito efeitoMudaBorda" href="#" data-toggle="dropdown" role="button">Products</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Product 1</a>
                            <a class="dropdown-item" href="#">Product 2</a>
                            <a class="dropdown-item" href="#">Product 3</a>
                            <a class="dropdown-item" href="#">Product 4</a>
                        </div>
                    </li>
                    <li class="nav-item active efeito efeitoMudaBorda">
                        <a class="nav-link" href="contato.html">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="iconCart mr-auto"><a href="#"><i class="fas fa-shopping-cart"></i></a></div>
        </nav>
    </header>
    <!-- Final cabeçalho -->

    <!-- Conteudo principal da pagina -->
    <main>

        <!-- Formulário de contato do cliente com a empresa -->
        <section id="containerContato">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="container" data-aos="fade-in-zoom" data-aos-delay="100">
                        <!-- Criei um conteiner simples para colocar o texto -->
                        <div class="infoContato">
                            <h4 class="text-uppercase tituloContato">Entre em Contato</h4>
                            <div class="dropdown-divider"></div>

                            <p class="text-justify mt-3">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>

                        <form action="../php/contact.php" class="form-contact" method="post" tabindex="1" name="frmTeste" onsubmit="return validaForm(this);">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nome">Nome*</label>
                                    <input type="text" id="nome" class="form-control form-contact-input" name="nome" placeholder="Nome" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="email">E-mail*</label>
                                    <input type="email" id="email" class="form-control form-contact-input" name="email" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ass">Assunto*</label>
                                <select id="ass" class="form-control form-contact-input" name="ass" required>
                                    <option value="" selected>Escolha o assunto...</option>
                                    <option value="Dúvidas sobre pedidos">Dúvidas sobre pedidos</option>
                                    <option value="Dúvidas sobre produtos">Dúvidas sobre produtos</option>
                                    <option value="Dúvidas sobre encomendas">Dúvidas sobre encomendas</option>
                                    <option value="Outros assuntos não listados">Outros assuntos não listados</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="conteudo">Mensagem*</label>
                                <textarea id="conteudo" class="form-control form-contact-textarea" rows="6" name="conteudo" placeholder="Escreva sua dúvida..." required></textarea>
                            </div>
                            <button type="submit" name="env" value="Enviar" id="enviar" class="btn btn-primary form-contact-button">Enviar</button>
                        </form>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div id="accordion">
                        <h4 class="text-uppercase tituloContato">FAQ</h4>
                        <div class="dropdown-divider"></div>

                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Item FAQ-1
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Item FAQ-2
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Item FAQ-3
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Final do formulário de contato -->

        <!-- Secção para dividir as secções -->
        <section>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><a class="btn-creditos" href="https://www.flaticon.com/br/autores/xnimrodx" target="_blank"><img src="../css/assets/surf.png" width="32px" title="Icon made by xnimrodx from www.flaticon.com" /></a></div>
                <div class="divider-custom-line"></div>
            </div>
        </section>
        <!-- Final da secção para dividir as secções -->

    </main>
    <!-- Final conteudo principal da pagina -->

    <!-- Rodapé do Site contém informações da empresa, Redes Sociais e Contatos da Empresa... -->
    <footer class="rodapeSite">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="logo"><a href="#">LOGO</a></h2>
                </div>
                <div class="col-md-4">
                    <h5>Explore nossa empresa</h5>
                    <ul>
                        <li><a href="#">Sobre nós</a></li>
                        <li><a href="#">Informações legais</a></li>
                        <li><a href="#">Entre em contato</a></li>
                        <li><a href="#">Termos & Condições</a></li>
                        <li><a href="#">Políticas de privacidade</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="redesSociais">
                        <h5 class="text-uppercase">Siga nossas redes sociais:</h5>
                        <a href="#" class="youtube"><i class="fab fa-fw fa-youtube"></i></a>
                        <a href="#" class="facebook"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a href="#" class="instagram"><i class="fab fa-fw fa-instagram"></i></a>
                    </div>
                    <a href="#">
                        <button type="button" class="btn btn-default">Contato</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="rodapecopyright">
            <p>Pur4vid4 Surfboards - © 2020 todos os direitos reservados</p>
        </div>

        <!-- Botão para realizar Scroll-To-Top -->
        <div>
            <a href="#" class="subir"><i class="fas fa-arrow-up"></i></a>
        </div>
    </footer>
    <!-- Final do rodapé do Site -->

    <!-- Final do Codigo -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Icones Grátis da WEB (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
    <!-- AOS script da biblioteca para animação de entradas (do tipo fade) -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- script com as princiapais funções do JS do Site -->
    <script src="../js/main.js" type="text/javascript"></script>
    <script src="../js/AOS.js" type="text/javascript"></script>
    <script src="../js/email.js" type="text/javascript"></script>
</body>
</html>