<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/main.css" type="text/css">
    <link rel="stylesheet" href="../css/paginaProdutos.css" type="text/css">
    <!-- Fonts Google -->
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap" rel="stylesheet">
    <!-- AOS CSS da biblioteca para animação de entradas (do tipo fade) -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Imagehover.css biblioteca para adicionar hover diferentes -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/2.0.0/css/imagehover.min.css" rel="stylesheet">
    <!-- Slick CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Ícone da Página -->
    <link rel="icon" type="image/png" href="../css/assets/favicon.png">
    <title>Pur4Vid4 Surfboards</title>
</head>
<body>
    <!-- Inicio do Codigo -->

    <!-- Cabeçalho com a barra de navegação do Site -->
    <header class="cabecalhoSite">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top navSite">
            <a class="navbar-brand" href="../index.html">Logo</a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarItens">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarItens">
                <ul class="navbar-nav ml-auto mr-auto">
                    <li class="nav-item efeito efeitoMudaBorda">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown efeito efeitoMudaBorda">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link efeito efeitoMudaBorda" href="#" data-toggle="dropdown" role="button">Products</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item active" href="produto1.html">Product 1</a>
                            <a class="dropdown-item" href="#">Product 2</a>
                            <a class="dropdown-item" href="#">Product 3</a>
                            <a class="dropdown-item" href="#">Product 4</a>
                        </div>
                    </li>
                    <li class="nav-item efeito efeitoMudaBorda">
                        <a class="nav-link" href="contato.html">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="iconCart mr-lg-auto"><a href="#"><i class="fas fa-shopping-cart"></i></a></div>
        </nav>
    </header>
    <!-- Final cabeçalho -->

    <!-- Conteudo principal da pagina -->
    <main>

        <!-- Container principal de exibição do produto -->
        <section class="containerPaginaProduto">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="container exibeProduto">
                        <h4 class="text-uppercase tituloProdutoPagina">img1</h4>
                        <div class="dropdown-divider"></div>
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                        <img src="../css/assets/imgTest2.png" alt="img1" />
                    </div>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="container containerProdutoCompra">
                        <h4 class="text-uppercase tituloProdutoPagina">Escolha seu modelo...</h4>
                        <div class="dropdown-divider"></div>
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                        <form action="../php/paginaCarrinho.php" class="form-contact" method="post" tabindex="1" name="formProduto">
                            <div class="form-group">
                                <label for="tamanhoPrancha">Tamanho do Modelo*<sup>(obrigatório)</sup></label>
                                <select id="tamanhoPrancha" class="form-control form-contact-input" name="tamanhoPrancha" required>
                                    <option value="" disabled selected>Escolha seu modelo...</option>
                                    <option value="5'8">5'8</option>
                                    <option value="5'9">5'9</option>
                                    <option value="6'0">6'0</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="addExtra1">Adicional 1<sup>(opcional)</sup></label>
                                <select id="addExtra1" class="form-control form-contact-input" name="addExtra1">
                                    <option value="noAddExtra1" selected>Não adicionar</option>
                                    <option value="addExtra1">adicionar</option>
                                </select>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="addExtra2">Adicional 2<sup>(opcional)</sup></label>
                                    <select id="addExtra2" class="form-control form-contact-input" name="addExtra2">
                                        <option value="noAddExtra2" selected>Não adicionar</option>
                                        <option value="addExtra2">adicionar</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="addExtra3">Adicional 3<sup>(opcional)</sup></label>
                                    <select id="addExtra3" class="form-control form-contact-input" name="addExtra3">
                                        <option value="noAddExtra3" selected>Não adicionar</option>
                                        <option value="addExtra3">adicionar</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="addExtra4">Adicional 4<sup>(opcional)</sup></label>
                                    <select id="addExtra4" class="form-control form-contact-input" name="addExtra4">
                                        <option value="noAddExtra4" selected>Não adicionar</option>
                                        <option value="addExtra4">adicionar</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="informacoesAdd">Informações adicionais<sup>(opcional)</sup></label>
                                <textarea id="informacoesAdd" class="form-control form-contact-textarea" rows="6" name="informacoesAdd" placeholder="Escreva seu texto aqui..."></textarea>
                            </div>
                            <input type="hidden" name="modeloPrancha" value="modelo1">
                            <input type="hidden" name="add" value="carrinho">
                            <button type="submit" class="btn btn-primary form-contact-button" id="btnCarrinho">Adicione ao carrinho</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Final do container -->

    </main>
    <!-- Final conteudo principal da pagina -->

    <!-- Rodapé do Site contém informações da empresa, Redes Sociais e Contatos da Empresa... -->
    <footer class="rodapeSite">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="logo"><a href="#">LOGO</a></h2>
                </div>
                <div class="col-md-4">
                    <h5>Explore nossa empresa</h5>
                    <ul>
                        <li><a href="#">Sobre nós</a></li>
                        <li><a href="#">Informações legais</a></li>
                        <li><a href="#">Entre em contato</a></li>
                        <li><a href="#">Termos & Condições</a></li>
                        <li><a href="#">Políticas de privacidade</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="redesSociais">
                        <h5 class="text-uppercase">Siga nossas redes sociais:</h5>
                        <a href="#" class="youtube"><i class="fab fa-fw fa-youtube"></i></a>
                        <a href="#" class="facebook"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a href="#" class="instagram"><i class="fab fa-fw fa-instagram"></i></a>
                    </div>
                    <a href="#">
                        <button type="button" class="btn btn-default">Contato</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="rodapecopyright">
            <p>Pur4vid4 Surfboards - © 2020 todos os direitos reservados</p>
        </div>

        <!-- Botão para realizar Scroll-To-Top -->
        <div>
            <a href="#" class="subir"><i class="fas fa-arrow-up"></i></a>
        </div>
    </footer>
    <!-- Final do rodapé do Site -->

    <!-- Final do Codigo -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Icones Grátis da WEB (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
    <!-- AOS script da biblioteca para animação de entradas (do tipo fade) -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- script com as princiapais funções do JS do Site -->
    <script src="../js/main.js" type="text/javascript"></script>
    <script src="../js/AOS.js" type="text/javascript"></script>
    <script src="../js/paginaProdutos.js" type="text/javascript"></script>
</body>
</html>